html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

#map {
    height: 100%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-color: #fff;
    border-bottom: 2px solid rgb(228, 228, 228);
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.form-inline label {
    margin: 5px 10px 5px 0;
    color: #484c61;
}

.form-inline input {
    vertical-align: middle;
    margin: 5px 15px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

.form-inline button {
    padding: 10px 20px;
    background-color: #039be5;
    border: none;
    border-radius: 3px;
    color: white;
  }

.form-inline button:hover {
    background-color:rgb(3, 143, 212);
  }
  
.content {
  padding-left: 10px;
  padding-right: 10px;
}

.content h2 {
  color: gray;
  font-weight: 500;
}

@media (max-width: 650px) {
  .form-inline input {
    margin: 10px 0;
  }
  
  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}

