html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

#map {
    height: 100%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #1a73e8;
    border-bottom: 1px solid rgb(228, 228, 228);
}

#intro {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
  height: 240px;
  background-color: #fff;
  z-index: 999;
  text-align: center;
  border-radius: 5px;
  padding-bottom: 5px;
}

#intro h2 {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #1a73e8;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #fff;
}

#intro p {
  text-align: left;
  padding: 15px;
  padding-top: 0;
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.form-inline label {
    margin: 5px 10px 5px 0;
    letter-spacing: .4px;
    color: #fff;
}

.form-inline input {
    vertical-align: middle;
    margin: 5px 15px 5px 0;
    height: 36px;
    padding-left: 10px;
    background-color: rgba(255,255,255,.12);
    border-radius: 2px;
    border: none;
    color: rgba(0, 0, 0, 0.99);
  }

.form-inline input:focus {
  background-color: #fff;
}

button {
    padding: 10px 20px;
    background-color: #039be5;
    border: none;
    border-radius: 2px;
    color: white;
  }

button:hover {
    background-color:rgb(3, 143, 212);
  }
  
.content {
  padding-left: 10px;
  padding-right: 10px;
}

.content h2 {
  color: gray;
  font-weight: 500;
}

@media (max-width: 650px) {
  .form-inline input {
    margin: 10px 0;
  }
  
  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}

